<html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/x-icon" href="cloud2.png">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title>Private Key Generated!</title>
		<style type="text/css">
			button {
				color: black;
			
			}
			button:hover {
				background-color: darkgrey;
				
			}
			.btn-general{
    font-family: 'Raleway', sans-serif;
    border-radius: 30px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    transition: all .5s;
    /*width:5/0px;*/

}
		</style>
	</head>
	<body>
		<center>
			<br><br>
			<h1 style="font-size: 35px;padding: 30px 0;"> Secure Text Transfer Using Diffie-Hellman Key Exchange Based On Cloud
 </h1><br><br>
			<h4>Your one-time generated private key is:<br><br> {{privatekey}}</h4>
			<br>
			<p style="color: red; font-size: 20px"><b>Note: Copy and save this key.<br>For safety purpose, we keep no backup of this key. Refrain yourself from sharing this key</b></p><br>
			<a href="/"><button class="btn btn-general" style="background-color: #392F5A; color:white;">Back to Home</button></a>
		</center>
	</body>
</html>