<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="cloud2.png">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<link rel="shortcut icon"  href="../../../dump/images/configure.png">
		<title>Register</title>
	</head>
	<style type="text/css">
		.btn-general{
		    font-family: 'Raleway', sans-serif;
		    border-radius: 30px;
		    font-size: 13px;
		    text-transform: uppercase;
		    margin: 0 6px;
		    padding: 12px 46px;
		    transition: all .5s;
		}
	</style>
	<body>
		<center>
			<br><br>
			<h2 style=""><b>Register Yourself!</b></h2>
			<br><h6>{{ name }}</h6>
			<br>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-lg btn-general" style="background-color: #392F5A; color:white;" data-toggle="modal" data-target="#myModal">Click here to register yourself</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
        <form action="/register-new-user" method="POST">
				<input name="username" type="text" placeholder = "Username" required width="120vw"> <br >
				<input name="first-name" type="text" placeholder= "First Name" required width="20vw"> <br > 
				<input name="last-name" type="text" placeholder= "Second Name" required width="20vw"> <br >
				<br>
				<input type="submit" class="btn btn-lg btn-info btn-general" style="background-color: #392F5A; color:white;">
			</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>







			
		</center>
	</body>
</html>